body {
    background: url("https://res.cloudinary.com/jleplerwt/image/upload/v1563470609/WeeklyChallengeimages/crowd-background_fo1ft9.jpg");
}

.container {
    margin-left: 10%;
    margin-right: 10%;

}

.post-label {
    color: floralwhite;
}

.navbar {
    position: relative;
}

.row{
    margin: 20px;
}

.card-container-fluid{
    position: center;
    margin-left: 10rem;
    margin-right: 10rem;
}

.col {
    padding: 0;
}

.card-body {
    background: lightskyblue;

}

.input-error{
    font-family: 'Bahianita', bold;
    color: #ff0015;
}

.nav-link{
    font-size: 20px;
}